.Charm {
  position: relative;
  width: var(--Charm-width);
  height: var(--Charm-height);
}

.Charm--isSelected {
  opacity: var(--isSelected-opacity);
  filter: var(--dropShadow);
}

.Charm:hover {
  cursor: pointer;
  filter: var(--dropShadow);
}

.CharmTooltip {
  position: absolute;
  top: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--body-backgroundColor);
  padding: 30px 60px;
  border: 1px solid var(--body-borderColor);
}
