.CharmContainer {
  position: relative;
}

.Charm {
  position: relative;
  width: var(--Charm-width);
  height: var(--Charm-height);
}

.Charm--isSelected {
  opacity: var(--isSelected-opacity);
  filter: var(--dropShadow);
}

.Charm:hover {
  cursor: pointer;
  filter: var(--dropShadow);
}

.CharmTooltip {
  position: absolute;
  top: 95px;
  left: -190px;
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  background-color: var(--body-backgroundColor);
  padding: 20px 30px;
  border: 1px solid var(--body-borderColor);
  border-radius: 10px;
  z-index: 10;
}
