.KnightInfo {
  display: flex;
  gap: 20px;
}

.KnightInfo h2 {
  text-transform: uppercase;
}

.KnightInfo h3 {
  font-size: 18px;
}

.KnightInfo-nailArtsContainer {
  display: flex;
  flex-direction: column;
}

.KnightInfo-nailArt {
  display: flex;
  gap: 5px;
}
