.NailContainer {
  position: relative;
}

.NailTooltip {
  position: absolute;
  top: -150px;
  left: -190px;
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  background-color: var(--body-backgroundColor);
  padding: 20px 30px;
  border: 1px solid var(--body-borderColor);
  border-radius: 10px;
  z-index: 10;
}

.Nail--isSelected {
  cursor: initial;
  opacity: var(--isSelected-opacity);
  filter: var(--dropShadow);
}

.Nail:hover {
  cursor: pointer;
  filter: var(--dropShadow);
}

.Nail--isSelected:hover {
  cursor: initial;
}

.Nail.Nail--isReadOnly:hover {
  cursor: initial;
}
